@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spaceBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex{
  display: flex;
  align-items: center;
}
.sizedIcon{
  padding: 4px;
  height: 25px;
  width: 25px;
  border: 1px solid rgb(233, 233, 233);
  cursor: pointer;
}
.sizedIcon:hover{
  background-color: gainsboro;
}
.actionGap{
  margin: 15px 0;
}

.mainLayout{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ==========
Side bar 
============*/

.leftSidebar{
  width: 22%;
  height: 100vh;
}
.rightSidebar{
  width: 68%;
  height: 100vh;
}
.leftSidebarActions{
  height: 100%;
  border: 1px solid rgb(233, 233, 233);
}

/* ==========
Left side bar 
============*/

.mainActions{
  border-bottom: 1px solid rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actionIcon{
  padding: 10px 0;
  width: 33.33%;
  font-size: 45px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
.actionIcon:hover{
  border-bottom: 3px solid black;
}
.actionIcon:nth-child(2){
  border-bottom: 3px solid black;
}

.titleActions{
  padding: .8rem;
}
.titleActionsHeading{
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}

.textColor{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textColorBox{
content: '';
}
.textColorWorldIcon{
  background-color: gainsboro;
  color: fuchsia;
}
.colorBox{
  content: '';
}
.colorBox div{
  background-color: aqua;
 height: 100%;
}

.typographyWorldIcon{
  padding: 4px;
  height: 25px;
  width: 25px;
  border: 1px solid rgb(233, 233, 233);
}
.typographyEditIcon{
  background-color: gainsboro;
}

.blendModeDropdown{
  border: 1px solid rgb(233, 233, 233);
  width: 120px;
}
.selectionDropdown{
  border: 1px solid rgb(233, 233, 233);
  width: 140px;
}
.needHelp{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==========
Typography Modal
============*/

.dialogPanel{
box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);
}
.typographyModalIcon{

}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #c8cacc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  border-radius: 50%; 
  background: #ffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.rangeValue{
  padding: 4px 8px;
width: 5rem;
border-radius: 5px;
border: 1px solid rgb(233, 233, 233);
font-weight: 500;
margin-left: 15px;
}