@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spaceBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex{
  display: flex;
  align-items: center;
}
.sizedIcon{
  padding: 4px;
  height: 25px;
  width: 25px;
  border: 1px solid rgb(233, 233, 233);
  cursor: pointer;
}
.actionGap{
  margin: 15px 0;
}

.mainLayout{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ==========
Side bar 
============*/

.leftSidebar{
  width: 22%;
  height: 100vh;
}
.rightSidebar{
  width: 68%;
  height: 100vh;
}
.leftSidebarActions{
  height: 100%;
  border: 1px solid rgb(233, 233, 233);
}

/* ==========
Left side bar 
============*/

.mainActions{
  border-bottom: 1px solid rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actionIcon{
  padding: 10px 0;
  width: 33.33%;
  font-size: 45px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}
.actionIcon:hover{
  border-bottom: 3px solid black;
}
.actionIcon:nth-child(2){
  border-bottom: 3px solid black;
}

.titleActions{
  padding: .8rem;
}
.titleActionsHeading{
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}

.textColor{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textColorBox{
content: '';
}
.textColorWorldIcon{
  background-color: gainsboro;
  color: fuchsia;
}
.colorBox{
  content: '';
}
.colorBox div{
  background-color: aqua;
 height: 100%;
}

.typographyWorldIcon{
  padding: 4px;
  height: 25px;
  width: 25px;
  border: 1px solid rgb(233, 233, 233);
}
.typographyEditIcon{
  background-color: gainsboro;
}

.blendModeDropdown{
  border: 1px solid rgb(233, 233, 233);
  width: 120px;
}

.needHelp{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}